a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

.top {
  display: flex;
  height: 64px;
  margin: 0 24px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 32px;
  font-size: 16px;
  align-items: center;
}

.logo h1 {
  font-weight: bold;
}

.logo h2 {
  color: #C3C1C1;
}

nav {
  display: flex;
}

nav h3 {
  display: inline-block;
  margin-right: 16px;
  font-size: 14px;
  color: gray;
}

.last {
  margin-right: 0;
}

.symbols {
  display: none;
}

@media only screen and (max-width: 520px) {
  .symbols {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    display: none;
  }
  nav h3 {
    display: none;
  }
}

.banner {
  width: 100%;
  background-color: pink;
  display: flex;
  align-items: center;
  background-color: #82E3DD;
  height: auto;
}

.banner img {
  width: 60%;
  display: inline;
  margin: 32px 24px;
}

.text {
  margin-right: 30px;
  color: white;
}

.text h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 32px;
}

.text h2 {
  font-size: 20px;
}

.button {
  background-color: silver;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 24px;
  transition-duration: 1s;
}

.button h2 {
  margin: 8px 0;
}

@media only screen and (max-width: 510px) {
  .banner img {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  .text {
    margin-left: 16px;
    margin-right: 16px;
  }
  .banner {
    width: 100%;
    flex-wrap: wrap;
  }
  .button {
    margin-bottom: 32px;
  }
}

.button:hover {
  background-color: khaki;
}

.main {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.left {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  margin: 32px 24px;
}

.left img {
  width: 100%;
  margin-bottom: 32px;
}

.left h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}

.left h4 {
  font-size: 14px;
  margin-bottom: 32px;
}

.left h3 {
  font-size: 14px;
}

.right h3, .right h4{
  font-size: 12px;
}

.right h4{
  color: blue;
}

.right h2 {
  font-size: 20px;
  font-weight: bold;
}

.right {
  display: flex;
  width: 40%;
  flex-direction: column;
  background-color: aqua;
}

.orientation {
  display: flex;
  background-color: white;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  height: 33%;
  padding-left: 5%;
  border-left: 1px solid silver;
  border-bottom: 2px solid silver;
  transition-duration: 1s;
}

.orientation img {
  width: 35%;
}


.otext {
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.otext h2, .otext h3 {
  margin-bottom: 8px;
}

.campus {
  display: flex;
  background-color: white;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  height: 33%;
  padding-left: 5%;
  border-left: 1px solid silver;
  border-bottom: 2px solid silver;
  transition-duration: 1s;
}

.campus img {
  width: 35%;
}

.ctext {
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.ctext h2, .ctext h3 {
  margin-bottom: 8px;
}

.guest {
  display: flex;
  background-color: white;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  height: 33%;
  padding-left: 5%;
  border-left: 1px solid silver;
  border-bottom: 2px solid silver;
  transition-duration: 1s;
}

.guest img {
  width: 35%;
}

.gtext {
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.gtext h2, .gtext h3 {
  margin-bottom: 8px;
}

.orientation:hover, .campus:hover, .guest:hover{
  background-color: khaki;
}

.main2 {
  display: none;
}

.main2 h2 {
  font-size: 20px;
  font-weight: bold;
}

.main2 h3, .main2 h4 {
  font-size: 10px;
}

.main2 h4 {
  color: blue;
}

.orientation2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  border-bottom: 2px solid silver;
}

.orientation2 img{
  width: 300px;
  margin: 16px auto 16px auto;
}

.otext2 {
  width: 284px;
  margin-bottom: 8px;
}

.otext2 h2, .otext2 h3 {
  margin-bottom: 8px;
}

.campus2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  border-bottom: 2px solid silver;
}

.campus2 img{
  width: 300px;
  margin: 16px auto 16px auto;
}

.ctext2 {
  width: 284px;
  margin-bottom: 8px;
}

.ctext2 h2, .ctext2 h3 {
  margin-bottom: 8px;
}

.guest2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  border-bottom: 2px solid silver;
}

.guest2 img{
  width: 300px;
  margin: 16px auto 16px auto;
}

.gtext2 {
  width: 284px;
  margin-bottom: 8px;
}

.gtext2 h2, .gtext2 h3 {
  margin-bottom: 8px;
}

.orientation2:hover, .campus2:hover, .guest2:hover{
  background-color: khaki;
}



@media only screen and (max-width: 510px){
  .main2 {
    display: block;
  }
  .main {
    display: none;
  }
}

.learning {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 32px;
}

.box {
  background-color: #82E3DD;
}

.box h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
}

.learning h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.learning h3, .learning h4 {
  font-size: 12px;
}

.learning h3 {
  margin-bottom: 8px;
}

.software {
  display: flex;
  background-color: white;
  width: 30%;
  height: 45%;
  flex-wrap: wrap;
  margin-bottom: 32px;
  transition-duration: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.software img {
  width: 100%;
  height: 60%;
}

.stext {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  height: 130px;
}

.computer {
  display: flex;
  background-color: white;
  width: 30%;
  height: 50%;
  flex-wrap: wrap;
  transition-duration: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.computer img {
  width: 100%;
  height: 60%;
}

.computer h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.comptext {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  height: 130px;
}

.design {
  background-color: white;
  display: flex;
  width: 30%;
  height: 50%;
  flex-wrap: wrap;
  transition-duration: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.design img {
  width: 100%;
  height: 60%;
}

.design h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.dtext {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  height: 130px;
}

.data {
  background-color: white;
  display: flex;
  width: 30%;
  height: 45%;
  flex-wrap: wrap;
  transition-duration: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.data img {
  width: 100%;
  height: 60%;
}

.data h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.datatext {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  height: 130px;
}

.business {
  background-color: white;
  display: flex;
  width: 30%;
  height: 45%;
  flex-wrap: wrap;
  transition-duration: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.business img {
  width: 100%;
  height: 60%;
}

.business h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.btext {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  height: 130px;
}

.marketing {
  background-color: white;
  display: flex;
  width: 30%;
  height: 45%;
  flex-wrap: wrap;
  transition-duration: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.marketing img {
  width: 100%;
  height: 60%;
}

.marketing h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.mtext {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  height: 130px;
}

.software:hover,
.computer:hover,
.design:hover,
.data:hover,
.business:hover,
.marketing:hover {
  background-color: khaki;
}

.learning2 {
  display: flex;
  flex-wrap: wrap;
}

.learning2 h2 {
  padding: 16px 16px 24px 16px;
  font-size: 20px;
  font-weight: bold;
}

.software2, .computer2, .design2, .data2, .business2{
  background-color: silver;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto 8px auto;
  transition-duration: 1s;
}

.marketing2 {
  background-color: silver;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto 32px auto;
  transition-duration: 1s;
}

.learning2 {
  display: none;
}

.software2:hover, .computer2:hover, .design2:hover, .data2:hover, .business2:hover, .marketing2:hover {
  background-color: khaki;
}

@media only screen and (max-width: 510px){
  .learning {
    display: none;
  }
  .learning2 {
    display: block;
    padding-bottom: 32px;
  }
  .box h1 {
    padding-bottom: 16px;
  }
}

.thesis {
  margin: 32px 0;
}

.thesis h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.bottom {
  display: flex;
  width: 100%;
}

.bottom h2 {
  font-size: 20px;
  font-weight: bold;
}

.bottom h3 {
  font-size: 12px;
}

.bleft {
  width: 60%;
  overflow: hidden;
  margin-left: 24px;
  margin-right: 24px;
}

video {
  width: 100%;
}

.bleft h2 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.bleft h3 {
  margin-bottom: 32px;
}

.bright {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.bright h2 {
  margin-bottom: 16px;
}

.fisma {
  display: flex;
  align-items: center;
  background-color: white;
  border-left: 1px solid silver;
  border-top: 2px solid silver;
  transition-duration: 1s;
}

.fisma img {
  width: 35%;
  margin: 16px 16px;
}

.ftext {
  width: 65%;
}

.now {
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  border-left: 1px solid silver;
  transition-duration: 1s;
}

.now img {
  width: 35%;
  margin: 16px 16px;
}

.ntext {
  width: 65%;
}

.fisma:hover, .now:hover {
  background-color: khaki;
}

@media only screen and (max-width: 510px){
  .bright {
    display: none;
  }
  .vtext {
    display: none;
  }
  .bleft {
    width: 100%;
    margin: 0 0 24px 0;
  }
  .thesis {
    margin-bottom: 16px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  background-color: #82E3DD;
  color: white;
  align-items: center;
}

.footer h4, .footer h3 {
  font-size: 10px;
}

.copy {
  margin-left: 24px;
}

.terms {
  display: flex;
  margin-right: 24px;
}

.terms h3{
  margin-right: 10px;
}

@media only screen and (max-width: 510px){
  .terms {
    display: none;
  }
  .footer {
    justify-content: center;
  }
}
